<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Cart</title>
  </head>
  <body>
    <h2>Items Currently in your cart:</h2>
    <ul>
      <li><%= @session[:item] %></li>
    </ul>
  </body>
</html>
