<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Cart</title>
  </head>
  <body>
    <h1>Items in Your Cart</h1>
      <p><%= "#{@session["item"]}" %></p>

  </body>
</html>
