<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Sessions Lab: Checkout</title>
  </head>
  <body>
    <h1>Your Shopping Cart</h1>
    <h3><%= @session["item"] %></h3>
  </body>
</html>
