<!DOCTYPE html>
<html>
  <head>
    <title>Here is your Item!</title>
  </head>
  
  <body>
    <h1>You have purchased an item!</h1>
    <h3>Here is your purchased item:</h3>
    <%= @session["item"] %>
  </body>
</html>