<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Purchase</title>
  </head>
  <body>
    <h1>STORE</h1>
    <h3>You have purchased:</h3>
    <ul>
      <li><%= @session[:item] %></li>
    </ul>
  </body>
</html>
