<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sessions Lab!</title>
  </head>
  <body>
    <h1>Welcome to my Sinatra Sessions Lab!</h1><br>
    Your item is: <%= @session[:item] %>
  </body>
</html>