<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body> -->
    <h1>Your Cart of Necessities (& Some Splurges) </h1>
          <p> Item 1: <%= session["item"] %> </p>
  <!-- </body>
</html> -->
