<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Checkout</title>
  </head>
  <body>
    <h1>Your Checkedout items!!</h1>
    <p>Item Name: <%= @session.item %></p>
  </body>
</html>
