<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="items">
      <h3> Added <%= @item.name %> to your shopping cart.</h3><br>
    </div>
  </body>
</html>
