<!DOCTYPE html>

<html>
  <head>
    <title>Sinatra Sessions Lab</title>
  </head>
  <body>
    <h1>Sinatra Sessions Lab</h1>
    <h2>Checkout</h2>
    <p>Your Item: <%=@session[:item]%></p>
    
  </body>
  
</html>
