<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checkout</title>
  </head>
  <body>
    <h1>Your Cart</h1>
    <p>Your item purchased: <%= @session[:item] %></p>
  </body>
</html>
