<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>One-item Shopping</title>
  </head>
  <body>
    <h1>Checkout</h1>
    <h3>Great! You want to purchase: <%= session[:item] %></h3>
  </body>
</html>
