<h1>Congratulations!!!!!</h1>
<div class="tenor-gif-embed" data-postid="4895484" data-share-method="host" data-width="25%" data-aspect-ratio="1.36986301369863"><a href="https://tenor.com/view/hulk-hogan-gif-4895484">Hulk Hogan Fireworks GIF</a> from <a href="https://tenor.com/search/hulkhogan-gifs">Hulkhogan GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<p>You've successfully add a <%= @item %> to your shopping cart.</p>
<p>Please pay us one million dollars.</p>
