<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>The following item has been added to your cart:</h1>
    <%=@session["item"]%>
  </body>
</html>
