<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Welcome to the checkout counter!</h1>
    <h2>Your cart:</h2>
    <h3><%= session[:item]%></h3>
    <% if session[:item] == "socks" %>
    <% end %>
  </body>
</html>