<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Cart</title>
  </head>
  <body>
    <h1>Checkout</h1>
    <h3>Item:</h3>
    <p><%= @session[:item] %></p>
  </body>
</html>
