<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Contents of your shopping cart</h1>

    <h2>Item: <%= @cart[:item] %></h2>

  
  </body>
</html>
