<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Checkout</title>
  </head>
  <body>
    <h1>Your Cart</h1>
    <p>Item: <%= @session["item"] %></p>
  </body>
</html>
