<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>

  <body>
    <h1>Shopping Cart</h1>

    <p> You have <%= @session[:item] %> in your cart!</p>
  </body>
</html>
