<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <label for="item">Enter item to purchase:</label>
      <input type="text" name="item" id="item">
      <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>
