<h1><em>Welcome To Our Store!</em></h1>

<form action="/checkout" method="POST">
  <h2> Please Enter an Item </h2>
  <h3>Item: <input type="text" name="item"></h3>
  <input type="submit" value="submit">
</form>
