<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/checkout" method="POST">
      <label for="">Enter an item to purchase:</label>
      <input type="text" name="item">
      <br>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
