<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Cart</title>
  </head>
  <body>
    <form action='/checkout' method='post'>
      <p>I would like to buy <input type="text" name="item"></p>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
