<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Item</title>
  </head>
  <body>
    <form class="" action="/checkout" method="post">
      <label for="item">Enter Item: </label><input type="text" name="item" value="">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
