<html>
  
 <header> customer form</header>
 
 <form action='/checkout' method="POST">
   
    <label>Item:</label> <input type="text" id="item" name="item">
   
     <input type="submit" id= "submit" name="submit">
   
 </form>

  
</html>
