<h1>Enter your item to purchase:</h1>

<form method="post" action="/checkout">
  <label for="item">Item: </label>
  <input id="item" type="text" name="item" />
  <button type="submit" value="submit">Submit</button>
</form>
