<!DOCTYPE html>
<html>
<header>
  <title>Welcome</title>
</header>

<body>
  <h1>Welcome! Enter Item You'd Like To Buy Here:</h1>

  <form method="POST" action="/checkout">
    <input type="text" id="item" name="item">
    <input type="submit" value="submit">Submit</input>
  </form>
</body>

</html>
