<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cookie Store</title>
</head>
<body>

<form method="post" action="/checkout">
What kind of cookie would you like? <input type="text" name="item">
<input type="submit" id="submit">
</form>
  
</body>
</html>
