<!DOCTYPE html>
<html>
  <head>
    <title>lab</title>
  </head>
  <body>
    <form action = "/checkout" method = "post">
      <input type = "text" name = "item">
      <br>
      <button type = "submit" value = "submit">Submit</button>
    </form>
  </body>
</html>
