<h1>Enter The Item You Plan to Purchase</h1>

<form action="/checkout" method="POST">
	<label for="item">Item: </label><input id="item" type="text" name="item" value="New Car">
	<input type="submit" id="submit">
</form>
