<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <body>
    <h1>Checkout Form</h1>
    <form method="post" action="/checkout">
      <label for="item">Item:</label>
      <input id="item" type="text" name="item">
      <input id="submit" type="submit" name="submit">
  </body>
</html>
