<form action="/checkout" method="post">
  <label for id="session">Enter an item to purchase:</label>
  <input id="session" type="text" name="item"><br>
  <button type ="submit" value="submit">Submit</button>
</form>
