
<form action="/checkout" method="post">
    <label for="name_item"></label>
    <input type="text" name="name_item" value="name[:item]">
    <input type="submit" name="submit" value="Submit">
</form>
