<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cart</title>
  </head>
  <body>
    <h1>What Item do you want to check out?</h1>

    <form action="/checkout" method="post">
      <input type="text" name="item">
      <input id="submit" type="submit" name="submit">
    </form>

  </body>
</html>
