<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>The index!</title>
 </head>
 <body>
   <h1>Name an Item to Buy</h1>

   <form action="/checkout" method="post">

     <p>Item to Purchase: <input type="text" name="item"></p>

     <input type="submit" value="submit">
   </form>

 </body>
</html>
