<form action="/checkout" method="POST">
  <lable for="purchased_item">Item to Purchase: </lable>
  <input id="purchased_item" type="text" name="item">
  <button type="submit" value="Submit">submit</button>
</form>
