<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <label for="cart">Item</label><br>
      <input id="cart" type="text" name="item"><br>
      <input type="submit" name="submit" value="submit"><br>

    </form>
  </body>
</html>
