<h1>Items to Purchase</h1>

  <form action="/checkout" method="post">

  <label for="item_1">item</label>
  <input type="text" name = "item" id="item_1">

  <input type="submit" value="submit">
</form>
