<html>
  <body>
    <form method = 'post' action = '/checkout'>
      <p> Please enter the item you want to add to your cart: <input id = 'item' type = 'input' name = 'item'></p>
      <input type = 'submit' value = 'submit'>
    </form>
  </body>
</html>
