<h1>Shopping Cart</h1>

<form action="/checkout" method="post">
  <label for="name">Item Name:</label>
  <input type="text" name="item"><br>
  <input type="submit" name="submit" value="submit">
</form>
