<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<form method="POST" action="/checkout">
		<p>What item would you like to purchase? <input type="text" name="item"></p>
		<input type="submit" id="submit">
	</form>
</body>
</html>
