<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/checkout">
      <h3>Add an item to your cart here.</h3>
      <p>Item Name: <input id="item" type="text" name="item"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
