
<h1>Enter item name:</h1>
<form method="POST" action="/checkout">
<fieldset>
  <legend>
    Add To Cart
  </legend>
    <label>
      Item name
      <input type="text" name="item">
    </label>
<input type="submit" value="Submit" id="submit"/>
</fieldset>
</form>