
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Food</title>
  </head>

  <body>

    <h1>Exciting Foods</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">

    <!-- Insert Your Form Below -->
    <form method="POST" action="/checkout">
      <p>Enter food to buy:<input type="text" name="item"></p>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
