<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Purchase Form</title>
  </head>
  <body>
    <h1>Type an item you wish to purchase:</h1>
    <form action="/checkout" method="POST">
      <p>Item: <input type="text" name="item"></p>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
