<h1>Purchase Item</h1>
<form action="/checkout" method="post">
  <label for="item">Item:</label><input type="text" id="item" name="item"><br/>
  <button type="submit" value="submit">Submit</button>
</form
