<!DOCTYPE html>
<html>
 <body>
   <form action="/checkout" method="POST">
     <p>Please Enter an Item to Purchase: <input type="text" name="item"></p>
     <input type="submit" value="submit">
   </form>
 </body>
</html>
