<!DOCTYPE html>
<html>
<head>
  <title>Buy It</title>
</head>
<body>
  <form method="post" action="/checkout">
    <p>Enter an Item to Buy:<input type="text" name="item"></p>
    <input type="submit" id="button" title="submit">

  </form>
</body>
</html>