<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <form method='post' action='/checkout'>
      <input type='text' name='item'>
      <input type='submit' id='submit'>
    </form>
  </body>
</html>
