<head>
  <title>Homepage</title>
</head>
<body>
<form action="/checkout" method="post">
  <label>Add item: </label>
  <input type="text" name="item" placeholder="Item">
  <input type="submit" value="submit">
</form>
</body>
</html>