<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>X Marks the Spot!</title>
  </head>
  <body>
    <h1>Pirates and Ships</h1>
    <form method="post" action="/checkout">
      <p>Item to Purchase:</p>
      <input type="text" name="item">
      <br>
      <input type="Submit" value="Submit"><p>Submit</p>
    </form>
  </body>
</html>
