<!DOCTYPE>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shopping Center</title>
  </head>
  <body>
    <form method="POST" action="/checkout">
    <h1>Enter Item Info below</h1>
    Item: <input type="text" name="item"><br>
    <input value="submit" type="submit" name="submit">
  </form>
  </body>
<html>
