<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>What would you like to purchase?</h1>

    <form method="POST" action="/checkout">
      <p>Enter your phrase: <input type="text" name"user_phrase"></p>
      <button type="submit" id="submit">
    </form>

  
  </body>
</html>
