<h1> Shopping Cart </h1>

<form for="/checkout" method="POST">
  <label for="cart">What would you like to buy today?</label>
  <input type="text" name="item" />
  <input type="submit" value="submit"/>
</form>
