
<!DOCTYPE html>
<html>

  <form action='/checkout' method='post'>
    <p>Enter Item: <input id='item' type='text' name='item'></p>
    <input class='submit' type='submit' name = 'submit' id='submit'>

  </form>
</html>
