<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/checkout" method="post">
		<p>Text field: <input type="text" name="item"></p>
		<input id="submit" type="submit" name="submit">





	</form>

</body>
</html>
