<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopster</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <p>Item: <input type="text" name="item"></p>
      <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>
