<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
	<body>
		<h1>Please Enter An Item To Purchase</h1>
		<form method="POST" action="/checkout">
			<p>What would you like to buy? <input type="text" id="item" name="item"></p>
			<input type="submit" id="submit" name="submit">
		</form>
	</body>
</html>
