<h1> Welcome to your Virtual Store!</h1>
<p>Enter in ANY item below in order to purchase</p>
<br>
<form method="post" action='/checkout'>
<label for="item">I would like to purchase a:<input type=text name="item" id="item"></label>
<input type="submit" value="submit">
</form>
