<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Shop!</h1>
    <form action="/checkout" method="post">
      <p>Enter your item:</p>
      <input id='item' type="string" name="item">
      <button id ="submit" type="submit" value="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
