<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Lab!</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>
  <body>
    <h1>Welcome to the shopping lab! Please enter the item you would like to purchase:</h1>
    <form method="post" action="/checkout">
      <p> Item <input type="text" name="item"></p>
      <input name="submit" id="submit" value="submit" type="submit">

  </body>
</html>
