<!DOCTYPE html>
<html>
<head>
  <title>index</title>
</head>
<body>
<form action="/checkout" method="post">
  <h1>Add to Cart</h1>
  <label for="item_name_1">Item:</label>
  <input type="text" id="item_name" name="item">
  <button type="submit" value="submit">Submit</button>
</form>
</body>
</html>
