<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form method="post" action="/checkout">
     <p>Item to purchase: <input type="text" name="item"> </p>
     <input type="submit" name="submit" value="submit" id="submit"/>
    </form>
  </body>
</html>
