Create a Team and Heroes!
<h1>Make your form here</h1>
<form action="/checkout" method="POST">
  <label for="POST-item">item:</label>
  <input id="POST-item" type="text" name="item">
  <br>
  <button type="submit" value="submit">Submit!</button>
</form>
