<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <textarea name="item" rows="8" cols="40">Item</textarea>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
