<h1>add an item to your cart</h1>
<form method="post" action="/checkout">
  <input type="text" name="item">
  <input type="submit" id="submit">
</form>

<h1>your current cart has:</h1>
<%= @session %>
