<!DOCTYPE html>
<html>
<head>
<h1>Purchase an Item</h1>
</head>
<body>
  <form action="/checkout" method="post">
    Item: <input type="text" name="item">
    <input type="submit" id="submit">
  </form>
</body>
