<!DOCTYPE html>

<html>
<head>
</head>

<body>
  <form method="post" action="/checkout">
    <h2>Your Shopping Cart</h2>
    <p>Item: <input type="text" name="item"></p>
    <a href="/checkout"><input type="submit" name="submit" id="submit" value="submit"></a>
  </form>
</body>
</html>
