<h1>Add an item to your cart</h1>

<form action='/checkout' method="POST">
  <label for="item">Item</label><br>
  <input id="item" type="text" name="item" /><br>
  <input id="submit" type="submit" value="Submit">
</form>
