<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shopping</title>
  </head>
  <body>

    <h1>Item You Wish to Purchase</h1>

    <form action="/checkout" method="POST">
      <p><label for="item">Item: </label>
      <input id="item" input type="text" name="item"></p>
      <input type="submit" id="Submit" value="submit">
  </body>
</html>
