<form action= '/checkout' method='POST'>
	<label for='item_to_purchase'>Item to Purchase: </label>
	<input type='text' name='item' id='item_to_purchase'><br>
	<input type='submit' value='submit'
</form>
