<link rel="stylesheet" href="/css/style.css">

<form action="/checkout" method="post">
  <input type="text" id="item" name="item" placeholder="Add Item">
  <input type="submit" name="submit" value="submit">
</form>
