<!DOCTYPE html>
<html>
<head></head>
<title></title>
<body>
  <form action="/checkout" method="post">
      <label for="name">Item:</label>
      <input type="text" name="item" />
      <input type="submit" name="submit" value="submit" />
  </form>
</body>
</html>
