<h1>Buying things</h1>

<form action="/checkout" method="post">
  <p><label for="item">Item</label><input type="text" name="item">

  <p><label for="item_2">Item 2</label><input type="text" name="item_2">
  <input type="submit" id="submit" name="submit"></p>
</form>
