<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
  </head>
  <body>


    <form action="/checkout" method="post">

      <p>
        <label for="item">Item Name:</label>
        <input type="text" name="item">
      </p>
      <input type="submit" value="submit">

    </form>

  </body>
</html>
