<!DOCTYPE html>
<html>
<head>
<title>Form</title>
</head>

<body>
    <form action="/checkout" method="post">
      Item: <input type="text" name="item">
      <input type="submit" id="submit">
    </form>
</body>
</html>