 <form action="/checkout" method="post" id="form1">

      <p><label> Item: </label><input type="text" name="item"   id="item"></p>

  </form>

<button type="submit" form="form1" value="submit">submit</button>

