<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <form method="post" action="checkout">
    <p>Item: <input id="item" type=text name="item"></p>
    <input id="submit" type="submit">
  </form>

</body>
</html>
