<h1>Type an item to purchase</h1>

<form action ="/checkout" method="POST">
    <label for="item_name">
    <input type="text" name="item" id="item_name">
    <input type="submit" value="submit">

</form>