<!DOCTYPE html>
<html>

<h1> Fill in your info </h1>
  <form action="/checkout" method="post">
      Item Name:<input type="text" name="item" id="item"> <!--was having problems b/c put params[item] when was just supposed to be item -->
      <input type="submit" id="submit">

  </form>

</html>
