
<h2>Enter your item</h2>
<form action='/checkout' method='post'>
  <p>What item would you like to add? <input type='text' name='item'></p>
  <button type='submit' value='submit'>Submit</button>
</form>