<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Items to Purchase</title>
 </head>
 <body>

  <h1>Items to Purchase</h1>

  <form action="/checkout" method="post">
    Enter item to checkout: <input type="text" name="item"><br><br>
    <input type="submit" value="submit">
  </form>

  </body>
</html>
