<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Things to Buy</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <label for="item">Enter Item for Purchase: </label><br>
      <input type="item" name="item" id="item"><br>
      <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>
