<!DOCTYPE html>
<html>
  
  <form method="post" action="/checkout">
    <p>Item: </p>
    <textarea name="item"></textarea>
    <button type="submit" value="submit">Submit</button>
  </form>

</html>
