<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
  </head>
  <body>
    <h1>Add to cart</h1>
    <form action= "/checkout" method="POST" name= "Checkout">
      <input type = "text" name="item" value="Enter item here">
      <input type = "submit" value = "submit">
    </form>
    </form>
  </body>
</html>
