<!doctype html>

<html>
<head>
  <title></title>
</head>
<body>

  <form method="post" action="/checkout">
    <p>Item:</p>
    <textarea name="item"></textarea><br>

    <button type="submit" value="submit">Submit</button>
   
  </form>


</body>
</html>
