
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping</title>
  </head>
  <body>
    <h1>Shopping Today</h1>
    <form action="/checkout" method="post">
      <label for="item">What Would You Like to Buy?</label>
      <input id="item" type="text" name="item"><br>
      <input type="submit" name="submit" value="submit">

    </form>

  </body>
</html>
