<form class="" action="/checkout" method="post">
  <p><label for="">Item Name: </label><input type="text" id="item" name="item" value=""></p>
  <input type="submit" id="submit" value="Submit">
</form>
