<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form method="post" action="/checkout">
    <p>Enter item: <input type="text" name="item"></p>
    <input type="submit" id="submit">
</form>
</body>
</html>
