<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <form method="post" action="/checkout">
      <h1>What item would you like to buy?</h1>
          <p>Item:<input id="item" type="text" name="item"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
