
<h1> Testing Session !</h1>
  <form action='/checkout' method="post">
    <label for="item_name">Item:</label>
    <input id="item_name" type="text" name="item" /><br>
    <input type="submit" value="Submit" id="submit">

  </form>
