<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amazon</title>
  </head>

  <body>
    <h1>Your Shopping Cart!</h1>
    <form method="POST" action="/checkout">
      <label for="item">Item: </label><input id="item" name="item" type="text">

      <button type="submit" name="submit">submit</button>
    </form>
  </body>
</html>
