<!DOCTYPE html>
<html>
  <head>
    <title>Purchase Items Here!</title>
  </head>
  
  <body>
    <h1>Welcome to my Online Mall!</h1>
    <h2>What would you like to purchase?</h2>
    
    
    <form method="post" action="/checkout">
      <label for="item">Item to Purchase:</label>
      <input type="text" id="item" name="item" />
      
      <button id="submit">Go to Checkout</button>
    </form>
  </body>
</html>