<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sessions Lab</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <p>Item: <input type="text" name="item"></p>
      <input type="submit" name="Submit" value="submit">
    </form>
  </body>
</html>
