<!doctype html>
<html>
  <body>
    <form action="/checkout" method="POST">
      <p>Item to be purchased: <input type="text" name="item"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
