<!DOCTYPE html>
<html>
<head>
  <title>Shopping Cart Time!</title>
</head>
<body>
  <form action="/checkout" method="POST">
  <input type="text" name="item" id="item">
  <input type="submit" id="submit">
  </form>

</body>
</html>
