<form action="/checkout" method="POST">
  <p><label for="item">Enter item to purchase: </label><input type="text" name="item" id="item"></p>
  <button type="submit" name="submit" id="submit" value="Submit">Submit</button>
</form>