<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <form class="" action="/checkout" method="post">
      <p>Item for Purchase: <input type="text" name="item" value=""></p>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
