<!DOCTYPE html>
<head></head>
<body>
  <h1>Hello World, Here is a form</h1>
  <form class="" action="/checkout" method="post">
    <p>please enter item<input type="text" name="item" value=""></p>
    <input type="submit" name="" value="submit">
  </form>
</body>
<footer></footer>
