<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h2>Please enter your item to purchase below:</h2>
    <form action="/checkout" method="post">
        <p>Item: <input type="text" name="item"></p>
        <p><input type="submit" value="Submit" id="submit"></p>
    </form>
  </body>
</html>
