<form action="/checkout" method="post">
  <p>
    <label for="item_id">Item: </label>
    <input id="item_id" type="text" name="item"></input>
  </p>
  <input type="submit" value="submit"></input>
</form
