<form action="/checkout" method="post">

    <p>
      <label>item</label>
      <input type="text" name="item" >
      <br>
    </p>
    
<button type="submit" value="submit">Submit</button>

</form>
