<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sinatra Sessions Lab</title>
  </head>
  <body>
    <h1>Welcome to the Sinatra Sessions Lab!</h1>

    <form action="/checkout" method="post">
      Item To Purchase: <input type="text" name="item"><br><br>
  		<input type="submit" value="submit">
    </form>
  </body>
</html>
