<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>Add to Cart</title>
  </head>
  <body>
    <h1>Add items to your cart here!</h1>

    <form method="POST" action="/checkout">
      <label for="item">Item: </label><input id="item" type="text" name="item">
    </form>

  </body>
</html>