<h1>Welcome to Sinatra Sessions Lab!</h1>
<form action="/checkout" method="post">
  Gear to buy: <input type="text" id="item" name="socks"><br>
  <button type="submit" value="submit">Submit</button>
</form>