
<h1>Add Item to Checkout</h1>

<form method="post" action="/checkout">
  <fieldset>
    <legend>Purchase Item</legend>
    <label for="item">Item: <input type="text" name="item" id="item"/></label>
    <button type="submit">submit</button>
</fieldset>
</form>
