
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shop</title>
  </head>
  <body>

      <form action="/checkout" method="post">
        <p>Item: <input type="text" name="item"></p>
        <p><input type="submit" id="submit" value="Submit"></p>
      </form>
  </body>
</html>
