<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h1> Add items </h1>
     <form action="/checkout" method="POST">
       <label for="item">Item:</label>
       <input type="text" name="item"><br><br>
       <input id="submit" type="submit" value="Submit">
    </form>
  </body>
</html>
