
<form action="/checkout" method="POST">

  <label for="item">Item</label>
  <input type="text" name="item">

  <!-- <button type="button" value="submit">submit</button> -->
  <input type="submit" value="submit">

</form>
