<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>One-item Shopping</title>
  </head>
  <body>
    <h1>Welcome to a very simplistic shopping app!</h1>
    <form action="/checkout" method="post">
      <label for="item_wanted">Enter the item you would like to purchase:</label>
      <input id="item_wanted" type="text" name="item">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
