
 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
 
  <body>

    <!-- Insert Your Form Below -->
    <form action="/checkout" method="post">
     
      <input type="text" name="item"></input>
      <input type="submit" value="submit" name="submit"></input>
    </form>

  </body>
</html>


 



