
<form action="/checkout" method="post" class="session-form">
  <div class="session-form">
    <label for="name">item: </label>
    <input type="text" name="item">
  </div>
  <div class="session-form">
    <input type="submit" value="submit">
  </div>
</form>
