<!--
# index.erb should contain a form with text field. Here, the user will enter an item to purchase.
The form should post to the action /checkout.
-->
<form action="/checkout" method="post">
  <h3><label for="item">Item:</label> <input type="text" name="item"></h3>
  <button id="submit" type="submit">Submit</button>
</form>
