<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
  </head>
  <body>
	  <form action="/checkout" method="post" id="form">
	  <label for="item">Enter Item Here</label><br>
	  <input type="text" name="item">
	  <input type="submit" id="submit">
  	</form>
  </body>
</html>
