<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
  </head>
  <form action="/checkout" method="POST">
	  Enter item to purchase: <input type="text" name="item">
	  <input type="submit" name="submit" id="submit" value="checkout">
  </form>
  </body>
</html>
