
<form  action="checkout" method="post">
  <label> Type The Item You Would Like To Purchase </label> <br>
  <input type="text" name="item"> <br>
  <input type="submit" name="submit" id="submit">
</form>
