<!DOCTYPE HTML>
<html>
<header></header>
<body>

  <form action="/checkout" method="POST">


  <h1>Enter Your Item:<input type="text" name="item"></h1>

  <button type="submit" value="submit">Submit</button>

</form>



</body>
</html>
