<html>
<h1>Enter the item you like to purchase</h1>
<form action="/checkout" method="post">
  <label for="item">Item</label>
  <input type="text" name="item"></input>
  <button type="submit" value="submit">Submit</button>
</form>
</html>
