<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
  </head>
  <body>
    <form action="/checkout" method="POST">
      Item: <input type="string" name="item" id="item">
      <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>
