<H1>Add item to cart</h1>
  <form action='/checkout' method="POST">

    <p>
      <input type="text" id="item" name="item" >
    </p>

    <input type="submit" name="submit" value="submit">
  </form>
