<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>

  <body>
    <form method = "post" action = "/checkout">
      Item: <input id="item" type="text" name="item">
      Submit: <input id="submit" type = "submit" value= "submit">
    </form>
  </body>

</html>
