<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Item To Purchase</title>
  </head>
  <body>

    <h2>Please enter the item you would like to purchase</h2>

    <form action="/checkout" method="POST">

      <label for="item">Item To Purchase: </label>
      <input id="item" type="text" name="item" placeholder="Item To Purchase" required><br><br>
      <p><input type="submit" value="submit"></p>

    </form>

  </body>
</html>
