<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/checkout" method="post">
      <label for="item">Please Enter an Item to Purchase</label>
      <input type="text" name="item" />
      <input type="submit" id="submit" />
    </form>

  </body>
</html>
