
<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>Sessions</title>
</head>
<body>
<form action="/checkout" method="POST">
  Name of item: <input type="text" id="item" name="item">
      <input id="submit" type="submit" value="submit">

</form>

</body>
</html>
