<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
  </head>
  <body>
    <form method="POST" action="/checkout">
      <p>Item: <input type="text" name="item" id="item" /></p>
      <button type="submit" value="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
