<!DOCTYPE>
<html>
<form action = '/checkout' method = '/POST'>
 <h2> Please enter an item you like to purchase:   <input type = 'text' id = "item" name = "item"> <h2>
 <br>
 <h1><input type ="submit" value = "submit" id = "submit"> </h1>
 </html>
</form>
