<!DOCTYPE html>
<html>
<head>
  <title>Shopping</title>
</head>
<body>
  <form action="/checkout" method="POST">
    <div>
      <label for="item">Enter Item: </label>
      <input type="text" name="item" id="item">
    </div>
    <input type="submit" id="submit" value="Submit">
  </form>
</body>
</html>
