<h1>Shopping Cart</h1>
<form action="/checkout" method="POST">

#form with text field that user will input item to purchase
<input type="text" id="item" name="item">

<input type="submit" value="submit">

</form>
