<DOCTYPE HTML>
  <html>
    <body>
      <h1>Your Cart</h1>
      <form method="POST" action="/checkout">
        <h2>Cart</h2>
        <label for="item">Item: <input id="item" type="text" name="item"></label><br>
        <input id="submit" type="submit">
      </form>
    </body>
  </html>
