<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form method="post" action="/checkout">
    Item:<input type="text" name="item"><br><br>
    <button type="submit" name= "submit">submit</button>
  </form>
</body>
</html>
