<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
 </head>
 <body>
   <form method="POST" action="/checkout">
     item: <input type="text" id="item" name="item">
     <input type="submit" id="submit" value="submit">
    </form>
 </body>
</html>
