<!DOCTYPE html>

<html>
  <body>
    <form action='/checkout' method='POST'>
      Item name: <input type='text' name='item' id='item'>
      <input id="submit" type="submit" value="sumbit">
    </form>
  </body>
</html>
