<h1> YOU WILL BUY NOW. THIS IS CAPITALISM.<br>
  ENTER YOUR NAME AND CC, OR YOU ARE NOT AN AMERICAN </h1>

<form action="/checkout" method="POST">
<p><label for="suckers_name">Sucker-That's You- We Need Your Name</label>
<input type="text" id="suckers_name" name="suckers_name"></p>

<p><label for="item">Whatcha Buying? It better be at least 2 of 'em</label>
<input type="text" id="item" name="item"></p>

<p><label for="money">Gi'me your money</label>
<input type="text" id="money" name="money"></P>

<input type="submit" value="submit">
