<h1>The Ultimate Shopping Experience</h1>

<form method="POST" action="/checkout">
    <h3>Please enter your item:</h3>
    <label>Item</label>
    <input type="text" name="item" id="item">
    </br>
    </br>
    <input type="submit" id="submit">
</form>
