<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    <h1>Buy This Item</h1>
    <form action="/checkout" method="post">
      <p>Enter Item to Buy: <input type="text" name="item"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
