<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Purchase Items!</title>
</head>
<body>
  <form method="post" action="/checkout" >
    Enter your item:<input type="text" id="item" value=" ">
    <br>
    <input type="submit" name="submit" value="submit">
  </form>

</body>
</html>
