<h2>What would you like to purchase?</h2>
<form action="/checkout" method="POST">
  <p>Item to Purchase: <input type="text" name="item"></p>
  <input type="submit" value="Submit" id="submit">
</form>
