<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<form method="POST" action="/checkout" id="form">
  item: <input id="item" type="text" item="item[name]">
  <input type="submit" id="submit"></input>

</body>
