<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sessions Lab</title>
  </head>
  <body>
   <h1>S</h1>
    <form action="/checkout" method="post"> 
      

      <input type="text" id="item">
      

      <input type="submit" > 

    
    </form>


  </body>
</html>

