<!DOCTYPE html>
<html lang="en">
<head>
  <title>Purchase Item</title>
</head>
<body>
  <h2>Purchase Item</h2>
  <form action="/checkout" method="post">
   <label for="item_name">Item: </label>
   <input type="text" name="item">
   <input type="submit" value="submit">
  </form>
</body>
</html>

<!-- learn solution
  
<h1> Online Shopping</h1>

<form method="post" action="/checkout">
  <input type="text" name="item">
  <input type="submit" value="submit">
</form> -->
