<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <label for="item">Item</label>
      <input id='item' type="text" name='item'</input>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
