<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Sessions Lab: Checkout</title>
  </head>
  <body>
    <form class="checkout" action="/checkout" method="post">
      <h2>Text Here: <input type='text' name="item" id="item"></h2>
      <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>
