
<!-- index.erb should contain a form with text field. Here, the user will enter an item to purchase. -->
<!-- #The form should post to the action /checkout. -->
<form action='checkout' method="post">
  <input type="text" name="item">
  <input type="submit" value = "submit">
</form>
