
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Sessions Lab</title>
  </head>
  <body>
    <h2>This is a form.</h2>
    <form class="" action="/checkout" method="post">
      <p><label for="">Item:</label>
      <input type="text" name="item" value=""></p>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
