<!DOCTYPE html>
<html>
<head>
  <title>Homepage with a Form</title>
</head>
<body>
  <p><form action = "/checkout" method = "POST">
  Item: <input type = "text" name = "item">
  2nd Input: <input type = "text" name = "test">
  <br/>
  <input type = "submit" value ="submit">
  </form>
  </p>

</body>
</html>