<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Form</title>
  </head>
  <body>
    <h1>This is a form</h1>

  <form action="/checkout" method="POST">
      <p>Item: <input id="item_1" input type="text" name="item"</p>
      <br><br>
      <button id="submit" type="submit">Submit</button>
    </form>
  </body>
</html>
