<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Store</title>
</head>
<body>
  <form action="/checkout" method="post">
    <label for="item">Enter Item to Purchase:</label>
    <input type="text" name="item" id="item"><br>
    <input type="submit" value="submit">
  </form>
</body>
</html>
