<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Item to Purchase</title>
  </head>
  <body>

    <h1>Enter the item you want to purchase:</h1>

    <form action="/checkout" method="post">
      <p>Item: <input type="text" name="item"><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
