<!DOCTYPE html>
<html>
  <head>
    <title>Check Out</title>
  </head>
  <body>
    <p>Enter Item Here</p>
    <form method="POST" action = "/checkout" >
      <input id = 'item' name = 'item' type = 'text'>
      <input type = "submit" id = "submit">
    </form>
  </body>
</html>
