<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Sinatra Sessions Lab</title>
 </head>
 <body>
   <form  action="/checkout" method="post">
     <p>What item do you want to purchase? <input type="text" name="item"></p>
     <button type="submit" name="submit">submit</button>
   </form>
 </body>
</html>
