<!DOCTYPE <html>
<head>
  <title>Sinatra Sessions</title>
</head>
<body>
  <h1>Buy some Shit!</h1>
    <form method="post" action="/checkout">
      <p>Whaddaya want?<input type="text" name="item"></input>

      <button type="submit" value="submit">Pay for that shit.</button>

    </form>


</body>
</html>
