<!DOCTYPE html>

 <html>
 <body>
 
 <h1>Cart</h1>
 <form action="/checkout" method="post">
   <p>Item: <input type="text" name="item" id="item"></p>
   <p><input type="submit" value="submit" id="submit"></p>
 </form>
 
 </body>
 </html>
