<form method="POST" action="/checkout">
	<form method="post" action="/checkout">
    <p>
    Item:<input type="text" id="item" name="item">
    </p>
    <input type="submit" name="Submit" id="submit">
</form>



