<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Purchase</title>
 </head>
 <body>
    <form action="/checkout" method="post">
      <p><label for="">Item:</label>
      <input type="text" name="item"></p>
      <input type="submit" name="" value="submit">
    </form>
 </body>
</html>
