<!DOCTYPE html>
<html>
<head>
<title>Purchase Item</title>
</head>
<body>

<form method="POST" action="/checkout">
  <Label>Item<input type="text" name="item" id="item">
    <button type="submit" value="submit" name="submit">submit</button>

</body>
</html>


