<form  action="/checkout" method="post">
  <p>
    <label>Item to purchase:</label>
    <input id="item" type="text" name="item[name]" >
  </p>
  <button type="submit" value="submit">Submit</button>
</form>
