<!DOCTYPE HTML>
<html>
<head>
  <title>Items To Purchase</title>
</head>
<body>
  <form input method='post' action='/checkout'>
   <label for="item">Item:</label>
   <input type="text" id="item" name="[item]">
   <input type="submit" value="submit" id="submit">
  </form>
</body>
</html>
