<h1>Clothing Shopping Experience</h1>

Choose your own item or pick from existing.
<% #not part of lab just experimenting with other form types %>

<form method="post" action="/checkout">
  <input type="text" name="item"><br>
  <input type="radio" name="item" value="Black Shirt">Black Shirt<br>
  <input type="radio" name="item" value="Orange Camo Joggers"> Orange Camo Joggers<br>
  <input type="radio" name="item" value="Superman Undies">Superman Undies<br>
  <input type="submit" value="submit">
</form>
