<form class="" action="/checkout" method="post">
  <h1>Put and item here!</h1>
  <input type="text" id="item" name="item" value="item">
  <input type="submit" id="submit" name="submit" value="submit">
</form>
