<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Store</title>
</head>
<body>
  <form action="/checkout" method="POST">
    <p>Enter an item to purchase: <input type="text" name="item"></p>
    <input value="submit" type="submit">
  </form>
</body>
</html>
