<!-- <!DOCTYPE html> -->
<!-- <html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body> -->
    <h1> Shop Your Socks Off</h1>
    <form action="/checkout" method="post">
      Cart Item 1: <input id="item" type="text" name="item"><br>

      <button type="submit" value="submit">Submit</button>
      <!-- <input type="submit" name="Submit" id="Submit"> apparently this is not necessary with the button? look up -->
    </form>
  <!-- </body>
</html> -->
