<!DOCTYPE html>
<html>
<body>
  <form action="/checkout" method="POST">
    <p>Item: <input id="item" type="text" name="item"></input></p>
    <input type="submit" id="submit">
  </form>
</body>
</html>
