
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="/checkout" method="post">
    <p>enter the item<input type="text" name="item"></p>
    <p><input type="submit" name="submit" id="submit"></p>
  </form>
</body>
</html>
