<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cookie practice</title>
  </head>
  <body>
    <form class="item" action="/checkout" method="post">
      <label for="item">Enter the name of an item</label>
      <input type="text" name="item" id="item">
      <input type="submit" id="submit">
    </form>
  </body>
</html>
