
<div class="jumbotron">
<h1>Glamazon</h1>
<br>
<div class="container">
	<form class="form-group" action="/checkout" method="post">
		<label>Self Checkout: </label><input type="text" name="item">
		<input type="submit" id="submit" value="Submit">
	</form>
</div>
</div>
<br>

