<h1> Online Shopping</h1>

<form action='/checkout' method='POST'>
 <p>
    <label>Item:</label>
    <input type="text" name="item" ></p>
    <button type="submit" value="submit">Submit</button>
</form>
