<h1>Welcome to Shopping!</h1>

<form action='/checkout' method="POST">
<label for="item">Item: </label><input id="item" type="text" name="item[item]" /><br>
<label for="submit"></label>
<input type="submit" id="submit" value="Submit">
</form>
