<html>
<head>
  <title>cart</title>
</head>
<body>
  <form method="POST" action="/checkout">
    <h2>Enter Item:</h2><input type="text" name="item">
    <input type="submit" id="submit">
  </form>

</body>
</html>
