<h2>What would you like to purchase?</h2>
<form method="post" action="/checkout">
  <label for="item">Item: </label>
  <input type="text" id="item" name="item"/>
  
  <input type="submit" id="submit" value="Purchase"/>
</form>
