<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/checkout" method="post">
    <label for="item">Enter Item:</label>
    <input type="text" name="item" id="item">
    <input type="submit" value="" id="submit">
  </form>
</body>
</html>
