<!DOCTYPE html>
<html>
<header>
  <meta charset="utf-8">
  <title>Create A Session</title>
</header>
<body>
  <form method = "POST" action= "/checkout">
<p>Purchase Item: <input type="text" name="item"></p>
<input type="submit" id="submit" name ="submit">
</form>
</body>
