<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
</head>
<body>
  <form action="/checkout"  method="post">
    <label for="cart">Add to Cart:</label>
    <input type="text" name="item" id="cart"><br>
    <input type="submit" value="submit">
    

  </form>
  
</body>
</html>
