<h1> Shop </h1>
<form method="post" action="/checkout">
  Item to purchase: <input type="text" name="item"></input>
  <input type="submit" value="submit" name="submit"></input>
</form>
<!--
The controller action /checkout, should take the params from the form and add it to the session hash. The key should be item and the value should be the item the user entered to the purchase. Make sure to store the session hash in an instance variable that you can access in the views.
In the view rendered by the controller action, display the item the user entered to purchase. -->
