<form action='/checkout' method="POST">
  <h2>Shopping Cart</h2>
  <p>Enter and Item to Purchase</p>
  <label for="Item">Item</label><br>
  <input id="Item" type="text" name="item" /><br>
  <input type="submit" value="submit">
</form>
