<html>
<head>
  <title>Sinatra Sessions Lab</title>
</head>
<body>
  <form method="POST" action="/checkout">
    <label>Item name: <input type='text' name="item"></label>
    
    
  <button type="submit" value="submit">Purchase</button>
  </form>
  
</body>
</html>
