<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Welcome to the item shop!</h1>
    <h3>Please type the name of the item you want most in the world.</h3>
  <form action="/checkout" method="POST" name="Buy">Please type the items you would like to buy:<input type="text" name="item"><br/>
    <button type="submit" value="submit">Submit
  </form>
  </body>
</html>