
<form action='/checkout' method="POST">
<h1>Hello! Please type in an item you'd like to purchase!</h1>
<input type="text" name="item"></input>
<br>
<input value="submit" type="submit"></input>
</form>
