<!DOCTYPE html>
<html>
<head>
  <title>I don't know</title>
</head>
<body>
  <h1>They wanted me to make a form</h1>
  <form method="POST" action="/checkout">
  <p>Item: <input type="item" name="item" id="item"></p>
    <input type="submit" id="submit" >
  </form>

</body>
</html>
