<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Enter Item for Purchase</title>
  </head>
  <body>
    <h1>Enter Item for Purchase</h1>
    <form action="/checkout" method="post">
      <input type="text" name="item">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
