<!DOCTYPE html>
<html>
  <form action="/checkout" method="post">
    <label for="item">Object to purchase:</label>
    <input id="item" type="text" name="item"><br>
    <input type="submit" value="submit">
  </form>
</html>
