<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Little Shop</title>
  </head>
  <body>
    <h1>My Little Shop</h1>
    
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
