<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to LamasZone</title>
  </head>
  <body>
      
    <div class="wrapper">
      <%= yield %>
    </div>

  </body>
</html>
