<!DOCTYPE html>
<html>
  	<head>
	  <meta charset="UTF-8">
    	<title>Shopping Cart Checkout</title>
  	</head>
  	<body>
		<h1>Shopping Cart Contents:</h1> <br>
		<h3><%= @session["item"] %></h3>
  	</body>
</html>
