<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sessions Lab</title>
  </head>
  <body>
   <h1>Shopping Cart</h1>
    
    <p>Item: <%= @sessions[:item] %></p>
    
    


  </body>
</html>
