<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Lab</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>
  <body>
    <h1>Your Shopping Cart is ready for checkout. You have selected the following item(s) for purchase:</h1>
    <p><%= "#{@name}" %></p>
  </body>
</html>
