<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Shopping Cart</title>
  </head>
  <body>

    <h2>Here is the item you have selected:</h2>

    <h4><%= @session[:item] %>

  </body>
</html>
