<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Purchase</title>
  </head>
  <body>
    <h2>This Is Your Purchase!</h2>

    <h3><%=@session_hash[:item]%></h3>
  </body>
</html>
